@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 1200px;
    margin: auto;
}


/* =========Header=========== */

.header{
    background-color: #f3f7fa;
    padding: 8px 0;
}
.infomation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infomation p, .infomation ul li{
    font-size: 13px;
    color: #8b8b8b;
    display: flex;
    align-items: center;
    gap: 5px;
}
.infomation p i, .infomation ul li i{
    font-size: 16px;
}
.infomation ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

/* ==========End of Header=========== */


/* ==========Menu Bar=============== */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.menu .logo{
    display: flex;
    align-items: center;
    gap: 25px;
}
.menu .logo img{
    width: 100px;
}
.menu .logo i{
    font-size: 26px;
}

.search{
    display: flex;
    align-items: center;
    border: 1px solid #c8c8c8;
    padding: 5px 5px 5px 15px;
    border-radius: 6px;
}
.search select{
    background-color: transparent;
    width: 170px;
    border: none;
    outline: none;
    font-size: 13px;
}
.search form{
    display: flex;
}
.search form input{
    border: none;
    outline: none;
    font-size: 13px;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 0.5px solid rgb(198, 198, 198);
}

.search form button{
    background-color: transparent;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    transition: all 0.5s;
}
.search form button:hover{
    background-color: dodgerblue;
    color: white;
}

.option{
    display: flex;
    gap: 20px;
}

.option button{
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: #474545;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}
.option button:hover{
    color: dodgerblue;
}

.option button:last-child{
    position: relative;
}
.option button span{
    position: absolute;
    top: -6px;
    right: -6px;
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 0 5px;
    border-radius: 50%;
}

/* =========Navigation bar========== */

.navbar{
    background-color: #2553d5;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.navigation ul li{
    position: relative;
    padding: 14px 15px;
    color: white;
    font-size: 13px;
    transition: all 0.3s;
}
.navigation ul li:first-child{
    background-color: #1f39de;
}
.navigation ul li:hover{
    background-color: #1f39de;
}
.navigation ul li .sub-menu{
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 14px 15px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(236, 226, 226);
}
.navigation ul li .sub-menu a{
    color: gray;
}
.parent-sub-menu{
    display: none;
}
.navigation ul li:hover .parent-sub-menu{
    display: block;
}

.navigation button{
    position: relative;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 14px 15px;
    transition: all 0.3s;
}
.navigation button i{
    font-size: 18px;
    transition: all 0.1s;
}
.navigation button:hover{
    background-color: #1f39de;
}
.navigation button:hover .bxs-chevron-right{
    transform: rotate(90deg);
}
.navigation button:hover .discount-sub-menu{
    display: block;
}
.discount-sub-menu{
    display: none;
    position: absolute;
    width: 1200px;
    height: 355px;
    background-color: white;
    right: 0;
    top: 100%;
    z-index: 999;
}

.sub-menu-product-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 15px;
}
.product-card{
    border: 1px solid #ece2e2;
    border-radius: 10px;
    overflow: hidden;
    height: 320px;
}
.product-card .head-card{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    color: rgb(155, 147, 147);
}
.product-card .head-card span{
    font-size: 11px;
}

.product-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.product-card h4{
    color: rgb(70, 65, 65);
    text-align: left;
    padding: 0px 10px;
    font-weight: 500;
    font-size: 13px;
}
.product-card p{
    color: black;
    padding: 10px 10px;
    text-align: left;
    font-size: 18px;
}
.product-card .add-to-cart-btn{
    background-color: #2553d5;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    font-size: 13px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}


/* =========Slider========= */

.slide-background{
    background-color: #f3f6fb;
}
.slide-container{
    overflow: hidden;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.slide-detail{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.slide-detail h2{
    font-size: 35px;
    font-weight: 600;
}
.slide-detail p{
    color: rgb(171, 161, 161);
}

.slide-image{
    grid-column: span 2;
    display: flex;
    align-items: end;
}
.slide-image img{
    width: 100%;
    mix-blend-mode: multiply;  /* Remove white background */
}




/* =========Promotion============= */
.promotion-container{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 25px;
}

.promotion-card{
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 35px;
}
.promotion-card h3{
    font-weight: 500;
}
.promotion-card button{
    margin-top: 50px;
    background-color: transparent;
    border: none;
}
.promotion-container .promotion-card:first-child{
    background-image: url(images/promotion-1.png);
}
.promotion-container .promotion-card:nth-child(2){
    background-image: url(images/promotion-2.png);
}
.promotion-container .promotion-card:last-child{
    background-image: url(images/promotion-3.png);
}

/* =======Featured Product========== */
.featured-product{
    margin-top: 25px;
}
.featured-product h3{
    font-size: 25px;
    font-weight: 600;
}
.featured-product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 20px;
}

.featured-product-card{
    border: 1px solid #ece2e2;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.featured-product-card .head-card{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    color: rgb(155, 147, 147);
}
.featured-product-card .head-card span{
    font-size: 11px;
}

.featured-product-card img{
    width: 100%;
    height: 240px;
    object-fit: cover;
}
.featured-product-card h4{
    color: rgb(70, 65, 65);
    text-align: left;
    padding: 0px 10px;
    font-weight: 500;
    font-size: 13px;
}
.featured-product-card p{
    color: black;
    padding: 10px 10px;
    text-align: left;
    font-size: 18px;
}
.add-to-cart-btn{
    position: absolute;
    width: 100%;
    border: none;
    background-color: #2553d5;
    color: white;
    padding: 10px 0px;
    bottom: -40px;
    transition: all 0.3s; 
}
.featured-product-card:hover .add-to-cart-btn{
    bottom: 0;
}


/* ======All Product====== */
.product-list h3{
    font-size: 25px;
    font-weight: 600;
    margin-top: 25px;
}
.product-list-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.product-list-container .featured-product-card:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: span 2;
    grid-row: span 2;
}
.product-list-container .featured-product-card:nth-child(3) img{
    height: 100%;
}



/* ======Footer=========== */
.footer-background{
    background-color: #1a1a1a;
    padding: 50px;
    margin-top: 50px;
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact h4{
    font-size: 25px;
    color: white;
}
.contact form{
    width: 500px;
    position: relative;
}
.contact form input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(150, 130, 130);
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}
.contact form i{
    color: rgb(223, 206, 206);
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 6px;
}
.social h5{
    font-size: 18px;
    color: white;
}
.social .icons-cotnainer{
    color: white;
}

hr{
    margin: 45px 0;
}
.footer-menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-menu ul{
    list-style: none;
}
.footer-menu ul li:first-child{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.footer-menu ul li{
    color: gray;
    margin-top: 5px;
}
.copy-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy-right p{
    color: rgb(204, 200, 200);
}
.copy-right img{
    width: 200px;
}